.exp-banner {
    height: 300px;
    background-color: rgb(243, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    height: 186px;
}

.years {
    width: 190px;
    text-align: center;
}

#year {
    font-size: 72px;
    line-height: 106,7 px;
    margin-bottom: 25px;
    color: #F7654A;
}

#old {
    font-size: 36px;
    line-height: 53,35 px;
    margin-bottom: 10px;
    color: black;
}

#market {
    font-size: 18px;
    line-height: 26px;
    color: grey;
}