/* .construction-block {
    height: 939px;
    
} */

.h2-cons {
    padding: 150px 0 66px 0;
    text-align: center;
    font-size: 36px;
    line-height: 53,35 px;
}

.buildings {
    display: flex;
    justify-content: space-between;
    /* height: 530px; */
    margin-bottom: 150px;
}

.building-one {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 250px;
    background-color: #F7F7F7;
}
.office-buildings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 172px;
    height: 132px;
}
h4 {
    padding-top: 30px;
    text-align: center;
    font-size: 21px;
    line-height: 31,12px;
}
.two {
    margin-top: 30px;
}


.buildings-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buildings-images img {
    object-fit: cover;
}

@media screen and (max-width: 1437px) {
    .image-line {
        flex-wrap: wrap;
    }
}





