* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: grey;
}

h1 {
    margin: 20px;
    text-align: center;
}
.portfolio {
    margin-top: 100px;
    max-width: 1366px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    justify-self: center;
}

.portfolio div {
    justify-self: center;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    background-color: black;
    width: 200px;
    height: 50px;
}

a {
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width:960px) {
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}