body {
    background-image: url(./Без\ названия.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
}

.electro-piano {
    margin-top: 200px;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

.electro-piano div {
    font-size: 17px;

    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 60px;
    height: 110px;
    border: 3px solid salmon;

    
}

.key {
    transition: ease 1s;
}




.playing {
    transform: scale(0.8);
}






.do {
    background-color: white;
    color: black;
}
.re {
    background-color: black;
    color: white;
}
.mi {
    background-color: white;
    color: black;
}
.fa {
    background-color: black;
    color: white;
}

.so {
    background-color: white;
    color: black;
}
.lya {
    background-color: black;
    color: white;
}
.si {
    background-color: white;
    color: black;
}

.text {
    margin-top: 100px;
    
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;

    display: flex;
    justify-content: center;
    align-items: center;
}