* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-family: "Open Sans", sans-serif;
  
}
body {
  background-color: #1f1f1f;
  background-image: url(../images/background_main.dark.jpg);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
}
header {
  height: 70px;
  background-color: #1c341c;
  color: #fff;
}
.content {
  width: 800px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 1;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-area {
  list-style: none;
}
.nav-area li {
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  padding: 0 22px;
  
}
.nav-area li:hover {
  transition: 0.3s;
  color: grey;
}
.button {
  background-color: initial;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 70px;
  background-image: url(../images/dark_mode_moon.png);
}

.light-theme {
  background-image: url(../images/background_main.jpg);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  color: black;
}
.header-light {
  background-color: #c6e262;
  color: black;
}




