.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    background-color: 
    #0F0F0F;
    color: white;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
}

.p-footer {
    font-weight: 400px;
    font-size: 13px;
    line-height: 15.5px;
}